.beat-row {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  height: fit-content;
  align-items: center;
  width: 100%;

  span.beat {
    background-color: var(--muted-pink-purple);
    border-radius: 0.5rem;
    width: 100%;
    height: 35px;
  }
  span.beat.active {
    background-color: var(--pink-purple);
  }
  span.beat.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  span.beat.subdivided.active {
    background-color: var(--light-purple);
  }
  span.beat.subdivided {
    background-color: var(--muted-light-purple);
  }
}
