.tabs {
  min-width: 330px;
  max-width: 550px;
  border-radius: 0.75rem;
  border: 1px solid #2e2e2e;
  background-color: var(--medium-black);
  margin: 0 1rem 1rem 1rem;
}

.tabs.full {
  max-width: 100%;
}

.tabs__inner-container {
  padding: 1rem;
}

.tab-list {
  display: flex;
  justify-content: space-between;

  &.sticky {
    position: sticky;
    top: -35px;
    background-color: var(--medium-black);
    z-index: 1;
  }
}

.tab-panel {
  padding: 1rem;
  min-height: 120px;
}

.tab-panel > div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tab-button {
  margin-right: 10px;
  border: none;
  flex: 1;
  border-bottom: 2px solid transparent;
}

button.tab-button.active {
  outline: none;
  border-bottom: 2px solid #f821ad;
  border-radius: 0;

  svg {
    stroke: #f821ad;
    path {
      stroke: #f821ad;
    }
    g {
      fill: #f821ad;
    }
  }
}

button.tab-button:hover {
  outline: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #f821ad;
  border-radius: 0;
}

.tab-button > svg {
  max-height: 30px;
  width: auto;

  path {
    stroke: white;
  }
}
